body {
    font-size: 16px;
    color: #fff;
    background-color: darkgreen;
}
#header-nav {
    background-color: blueviolet;
    border-radius: 0;
    border: 0;
    padding-bottom: 15px;
}
#header-nav a {
    color: #fff;
}
.navbar-brand {
    padding-top: 20px;
}
.navbar-brand h1 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;/*
    line-height: .75;*/
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list {
    background-color: blue;
}
#nav-list a {
    color: #fff;
    text-align: center;/*
    background-color: blue;*/
}
#nav-list a:hover {
    background: #e7e7e7;
    color: black;
}
h1 {/*
    text-align: center;*/
}
h3 {
    text-align: center;

}
P {
    padding: 20px;
}
div#container {
    border: 2px solid black;
    background-color: blueviolet;
    position: relative;
    /*margin: 10px;*/
    margin-right: 25px;
    margin-left: 25px;
    padding: 0px;
}/*
.row {
    width: 100%;
}